/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* shared styles */
*{
    font-family: "Mulish";
}

.color-primary{
    color: orangered;
}
/* header section */
header{
    padding-left: 135px;
    padding-right: 135px;
    border: 2px solid rebeccapurple;
}

/* nav section */
.logo-name{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

.logo-name div, ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-name ul{
    list-style: none;
    gap: 26px;
    font-size: 18px;
    font-weight: 600;
}

.logo-name h1{
    font-weight: 800;
}

/* banner section */
.banner-section{
    height: 500px;
    background: linear-gradient(10deg, rgba(99, 0, 0, 0.173) 0%, rgb(3, 1, 1) 100%), url(/Images/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    color: white;
    border: 2px solid greenyellow;
}

.explore{
    padding-top: 100px;
    text-align: center;
}

.preference{
    text-align: center;
    padding-top: 40px;
}
