/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* shared styles */
* {
    font-family: "Mulish";
}

.color-primary {
    color: orangered;
}

.btn-primary {
    color: white;
    background-color: orangered;
    height: 40px;
    width: 125px;
}

/* header section */
header {
    padding-left: 135px;
    padding-right: 135px;
    
}

/* nav section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-container h1 {
    font-weight: 800;
}
.nav-logo-container {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-ul-container ul{
    list-style: none;
    gap: 26px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner section */
.banner-section {
    height: 500px;
    background: linear-gradient(10deg, rgba(99, 0, 0, 0.173) 0%, rgb(3, 1, 1) 100%), url(/Images/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    color: white;
    
}

.explore {
    padding-top: 100px;
    text-align: center;
}

.preference {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 600px;
    margin: 0 auto;
}

.preference input,
select,
button {
    height: 40px;
    width: 125px;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
}

/* popular section */
.popular-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin-top: 70px;
    padding-left: 135px;
    padding-right: 135px;
    gap: 55px;
    
}

.popular-description{
    height: 650px;
}
.popular-list {
    display: block;
}

.popular-section img {
    height: 480px;
    width: 480px;
    padding-top: 40px;
}

.popular-section h1 {
    font-weight: 800px;
    font-size: 35px;
}

.popular-section p,
ul,
li {
    padding-top: 20px;
}

/* destination section */
.destination-container {
    padding-left: 135px;
    padding-right: 135px;
    text-align: center;
    padding-top: 50px;
}

.destination-description h1, .choice-description h1{
    font-weight: 800px;
    font-size: 35px;
}
.destination-description h1,
p {
    padding-bottom: 13px;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.destination-grid img {
    width: 99%;
    height: 99%;
}

.grid-item-1 {
    grid-column: 1/ span 6;
    position: relative;
}

.grid-item-2 {
    grid-column: 7/ span 6;
    position: relative;
}

.grid-item-3 {
    grid-column: 1/ span 4;
    position: relative;
}

.grid-item-4 {
    grid-column: 5/ span 4;
    position: relative;
}

.grid-item-5 {
    grid-column: 9/ span 4;
    position: relative;
}

.grid-item-6 {
    grid-column: 1/ span 5;
    position: relative;
}

.grid-item-7 {
    grid-column: 6/ span 7;
    position: relative;
}

.grid-item-1 h1,
.grid-item-2 h1 {
    position: absolute;
    bottom: 150px;
    right: 210px;
    color: white;
}

.grid-item-3 h1,
.grid-item-4 h1,
.grid-item-5 h1 {
    position: absolute;
    bottom: 160px;
    right: 130px;
    color: white;
}

.grid-item-6 h1,
.grid-item-7 h1 {
    position: absolute;
    bottom: 160px;
    right: 200px;
    color: white;
    padding-right: 40px;
}

/* why choose us section */
.choice-description {
    padding-left: 135px;
    padding-right: 135px;
    text-align: center;
    padding-top: 100px;
}

.choice-specs {
    height: 800px;
    width: auto;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

}

.choice-specs-features {
    border-radius: 16px;
    padding: 30px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

/* newsletter section */
.newsletter-container {
    height: 700px;
    padding-top: 100px;
    padding-left: 135px;
    padding-right: 135px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}

.newsletter-inputs {
    border-radius: 16px;
    border: 1px solid #FF5400;
    height: 500px;
    width: 500px;
    padding: 50px;
}

.newsletter-container img{
    height: 600px;
    width: 100%;

}

.newsletter-inputs input{
    width: 450px;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: rgb(248, 246, 244);
    border-radius: 10px;
}
.newsletter-inputs button{
    width: 450px;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

/* footer section */
footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(19, 19, 24, 0.05);
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer>div img{
    height: 50px;
    width: 50px;
}
.social-icons{
    text-indent: 20px;
}

/* responsive styles for mobile device */
@media screen and (max-width: 600px) {
    footer{
        width: 100%;
    }
}

